body {
    background-color: #FFBEEF;
    background-image: url(../img/background.png); 
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.nav-container {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start;
    
}
.nav-item {
    display: flex;
    color: white;
    align-self: center;
    justify-content: center;
    height: 90px;
    width: 20%;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    background-color: #EC91D8;
}

#nav-active {
    
    background-color: #FFD3DA;
    text-emphasis-color: white;
}